code[class*="language-"],
pre[class*="language-"] {
	color: #c9d1d9;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #8b949e;
	font-style: italic;
}

.token.punctuation {
	/* purposely ignored */
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #79c0ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a5d6ff;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #79c0ff;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #ff7b72;
}

.token.function,
.token.class-name {
	color: #d2a8ff;
}

.token.regex,
.token.important,
.token.variable {
	color: #79c0ff;
}

.token.important,
.token.bold {
	color: #c9d1d9;
	font-weight: bold;
}

.token.italic {
	color: #c9d1d9;
	font-style: italic;
}

.token.entity {
	cursor: help;
}
